@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body{
    background-image: url(./img/background.png);
    font-family: 'Oswald';
}

.app-main{
  text-align: center;
  
}


.option-grid:hover{
  background-color:#A0FF37;
  color: green;
  cursor: pointer;
}
